/* Super Slides */

#hero {
	height:491px;
	margin:0px 0px 15px;
}

#slides {
  position: relative;
  touch-action: pan-x pan-y !important;
}
#slides .slides-container {
  display: none;
}
#slides .slides-container li>img {
	top:-34px !important;
}	

#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 20%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 500;
  top: 85%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width:16px;
  height:27px;
  cursor:pointer;
}
#hero .slides-navigation a.prev {
  left: 42%;
  background:url(../images/bxslider_arrow_left.png) no-repeat;
}
#hero .slides-navigation a.next {
  right: 42%;
  background:url(../images/bxslider_arrow_right.png) no-repeat;
}

#hero .slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0%;
  text-align: center;
  width: 100%;
  background-color:#002888;
}
#hero .slides-pagination a {
  border: 2px solid #FFF;
  border-radius: 15px !important;
  background:transparent;
  width: 14px;
  height: 14px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin:11px 5px;
  overflow: hidden;
  text-indent: -99999px;
}
#hero .slides-pagination a.current {
  background:#FFF;
}

#hero .well {
	background-color:white;
	padding:0px;
	border-width:0px;
	border-radius:0px;

}
#hero .well .container {
	display: table;
	width: 100%;
	height: 436px;
	border-right: 0px;
	border-left:0px;
	xmargin-top: 19px;
}

#hero img {
	opacity:1 !important;
}

#hero .well.active {
	xdisplay:table !important;
}

#hero li>.container .row {
    display:table-cell;
    vertical-align:middle;
}

#hero li>.container .row .row {
	display:inherit;
}
#hero .well.border {
	border-color:#e3e3e3;
}
#hero .banner_container {
	xdisplay:table-cell;
	vertical-align:middle;
}
#hero .banner_container h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	font-size: 2em;
	font-weight: bold;
}

#hero .banner_container h2,
#hero .banner_container p {
	color:#FFF;
}
#hero .banner_container p {
	font-size: 1.176em;
	margin-bottom: 25px;
}
#hero .banner_container p:last-child {
	margin-bottom:0px;
}
#hero .banner_container .disclaimer {
	font-size:0.786em;
}

#hero .banner_container .banner_logos {
	margin-bottom:15px;	
}
#hero .banner_container img.retailer_img,
#hero .upr_rightside img,
#hero img.icons {
	position:inherit !important;
	left:0px !important;
	top:0px !important;
	opacity:1 !important;
	z-index:1 !important;
}
#hero .banner_container img.retailer_img {
	max-width: 120px !important;
	max-height: 60px !important;
	margin-bottom: 10px;
}
#hero .upr_rightside img {
	width:100% !important;
	height:100% !important;
	max-width:193px !important;
}

#hero img.icons {
	max-height:125px !important;
	max-width:150px !important;
	margin-bottom:15px;
}

/* Bottom Pattern */
#hero .bottom_pattern>img {
	bottom:0px !important;
}

/* Right Aligned Banner */
#hero .text-right .banner_container,
#hero .text-right .disclaimer {
	float:right;
}
/* Three Offers */
#hero .three_offers .banner_container h2 {
	font-size:1.7em;
}
/* Dark BG */
#hero .dark_bg {
	color:#FFF;
}
/* Dark Gradient Overlay */

#hero .well.dark_gradient .container {
	text-shadow: 0 1px 3px rgba(0,0,0,.6);
		background: rgba(0,0,0,0.5);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(80%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
	color:#FFF;
}

/* Light Gradien Overlay */

#hero .well.light_gradient .container {
	text-shadow: 0 1px 3px rgba(255,255,255,.6);
	background: rgba(255,255,255,0.9);
	background: -moz-linear-gradient(left, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.9)), color-stop(40%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	color:#000;
}

/*Campaign */
#hero .banner_container .row p {
	margin-bottom:10px;
}

/* Centered w Icons */

.banner_icons h2 {
	font-size:38px;
}

.banner_icons.carousel-caption img.icons {
	margin-bottom:10px;
	max-height:125px;
}

.banner_icons .col-md-4 p {
	font-size:1.6em;
}
.banner_icons.carousel-caption {
	left:5%;
	right:5%;
	bottom:0px;
}

#hero .banner_container .banner_logos .col-md-15 {
	margin-bottom:10px;
}

/* Background Pattern */

#hero .well.bg_pattern .container h2,
#hero .well.bg_pattern .container p {
	color:#464646;	
}

@media (max-width:1199px) {
.banner_icons.carousel-caption {
	bottom:-5px;

}
.banner_icons.carousel-caption img.icons {
	max-height:90px;
}

.banner_icons h2 {
	font-size:28px;
}

.banner_icons .col-md-4 p {
	font-size:1.3em;
}

#hero .campaign .banner_container {
	width:100% !important;
}

#hero .campaign .banner_container p {
	margin-bottom:18px;
}
}

@media (min-width: 991px) {
#hero .banner_container .banner_logos .col-md-15 {
	width:20%;
	float:left;
}
#slides .slides-container li.retailer_hero .banner_container {
	padding-right:8rem;	
	color:white;
}

}

@media (max-width: 768px) {
#hero {
	height:568px;
	padding-left:0px;
	padding-right:0px;
	xmargin-left:-16px;
	xmargin-right:-16px;
}

#hero .well {
	xpadding-left:0px;
	xpadding-right:0px;
}
#hero .well .container {
	xtext-align:center;
	height:100%;
	margin-top:-21px;
	padding-left:25px;
	padding-right:25px;
}

#hero ul li>img {
	xleft:-30px !important;
	xopacity:.5 !important;
}
#hero ul li>img.hidden-xs {
	display:none;	
}
#hero ul li>img.visible-xs {
	display:block !important;	
}
.slides-navigation a {
	display:none;
}

#hero .well .container h2 {
	font-size:1.286em;
	font-weight:bold;	
}

#slides .slides-container .banner_container {
	padding:0px;	
}

#hero .banner_container .banner_logos .col-md-15 {
}

#hero .banner_container .banner_logos .col-md-15 img {
	margin:0px auto;
}

#hero .banner_container img.retailer_img {
	margin:0px auto 20px;
}

	/* Generic Banner */
#hero .generic .banner_container {
	text-align:left;
	padding:20px;
}
#hero li.generic>.container .row {
	vertical-align:top;
}
#hero li.generic .banner_container h2 {
	margin-bottom:62%;
}

 #hero .well.generic .container {
	text-shadow: 0 1px 3px rgba(0,0,0,.6);
	background: rgba(0,0,0,0.5);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.48) 16%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.5) 70%);
	background: -webkit-gradient(left top, left bottom, color-stop(1%, rgba(0,0,0,0.5)), color-stop(15%, rgba(0,0,0,0.5)), color-stop(16%, rgba(0,0,0,0.48)), color-stop(35%, rgba(0,0,0,0)), color-stop(55%, rgba(0,0,0,0)), color-stop(70%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.48) 16%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.5) 70%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.48) 16%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.5) 70%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.48) 16%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.5) 70%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.48) 16%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.5) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
 }

 /* Campaign Banner */
  #hero .well.campaign .container {
 	text-shadow: 0 1px 3px rgba(0,0,0,.6);
	background: rgba(0,0,0,0.5);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  /* Light Gradient */
  #hero li.well.light_gradient> .container {
	text-shadow: 0 1px 3px rgba(255,255,255,.6);
	background: rgba(255,255,255,0.5);
	background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0.5)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1 );
}

#hero li.well.light_gradient img {
		opacity:.5 !important;
}

/* Bxlider Controls */

.bx-controls-direction {
	display:none;	
}

}
